
<% if (current_user && (current_user.user_type < 3)) %>
<%= link_to "Créer un nouvel article", :controller => :articles, :action => :new %>
<% end %>

<div id="all_articles">
	<% @articles.each do |article| %>
	  <%= render :partial => "article", :locals => { :article => article, :read_more => true } %>
	<% end %>
</div>